@model List<MusicLibrary.Models.Album>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>my music</h1>
</div>


<div>
    <ul title="Albums">
        @*@foreach (var album in Model)
        {
            <li>
                <img alt="@album.name" src="@album.AlbumArts" />
                <span>@album.name</span>
            </li>
        }*@
    </ul>
</div>