@model IEnumerable<MusicLibrary.Models.Album>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>my music</h1>
</div>


<div>
    @*<ul title="Albums">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Details", "Albums", new { id = item.albumID })">
                    <img src="~/img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" />
                <span>@Html.DisplayFor(modelItem => item.name)</span>
                </a>
            </li>
        }
    </ul>*@
</div>