@model IEnumerable<MusicLibrary.Models.Album>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>my music</h1>
</div>


<div class="row">
    
            @foreach (var album in Model)
{
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Details", "Album", new { id = album.albumID })" class="thumbnail">
            <img alt="@album.name" src="~/img/AlbumArt/Metal/Metallica%20Master%20of%20Puppets.jpg" />
            <span>@Html.DisplayFor(modelItem => album.name)</span>
        </a>
    </div>
} 
    
</div>