@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>my music</h1>
</div>

<div class="container">
    <div class="g-slider">
        <div class="tiles">
            <ul title="Animals">
                @*<li>
                    <a href="images/animals/l/polar_bear.jpg" class="set1" target="win"><img src="images/animals/polar_bear.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/polar_bear.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/lion.jpg" class="set1" target="win"><img src="images/animals/lion.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/lion.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/red_panda.jpg" class="set1" target="win"><img src="images/animals/red_panda.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/elephant.jpg" class="set1" target="win"><img src="images/animals/elephant.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/animals/l/catfish.jpg" class="set1" target="win"><img src="images/animals/catfish.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/catfish.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/flamingo.jpg" class="set1" target="win"><img src="images/animals/flamingo.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/flamingo.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/panda.jpg" class="set1" target="win"><img src="images/animals/panda.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/turtle.jpg" class="set1" target="win"><img src="images/animals/turtle.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/animals/l/fish.jpg" class="set1" target="win"><img src="images/animals/fish.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/fish.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/cheetah.jpg" class="set1" target="win"><img src="images/animals/cheetah.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/cheetah.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/jellyfish.jpg" class="set1" target="win"><img src="images/animals/jellyfish.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/koala.jpg" class="set1" target="win"><img src="images/animals/koala.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/animals/l/crab.jpg" class="set1" target="win"><img src="images/animals/crab.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/crab.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/butterfly.jpg" class="set1" target="win"><img src="images/animals/butterfly.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/butterfly.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/wolf.jpg" class="set1" target="win"><img src="images/animals/wolf.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/monkey.jpg" class="set1" target="win"><img src="images/animals/monkey.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/animals/l/bear.jpg" class="set1" target="win"><img src="images/animals/bear.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/bear.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/penguin.jpg" class="set1" target="win"><img src="images/animals/penguin.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/penguin.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/alligator.jpg" class="set1" target="win"><img src="images/animals/alligator.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/bird.jpg" class="set1" target="win"><img src="images/animals/bird.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/animals/l/hyena.jpg" class="set1" target="win"><img src="images/animals/hyena.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/animals/hyena.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/pig.jpg" class="set1" target="win"><img src="images/animals/pig.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/animals/pig.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/animals/l/alpaca.jpg" class="set1" target="win"><img src="images/animals/alpaca.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/animals/l/zebra.jpg" class="set1" target="win"><img src="images/animals/zebra.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
            </ul>
            <ul title="Places">
                <li>
                    <a href="images/places/l/singapore.jpg" class="set2" target="win"><img src="images/places/singapore.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/places/singapore.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/osaka.jpg" class="set2" target="win"><img src="images/places/osaka.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/places/osaka.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/chicago.jpg" class="set2" target="win"><img src="images/places/chicago.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/places/l/sf.jpg" class="set2" target="win"><img src="images/places/sf.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/places/l/vancouver.jpg" class="set2" target="win"><img src="images/places/vancouver.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/places/vancouver.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/rb.jpg" class="set2" target="win"><img src="images/places/rb.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/places/rb.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/hk.jpg" class="set2" target="win"><img src="images/places/hk.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/places/l/city.jpg" class="set2" target="win"><img src="images/places/city.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/places/l/nyc.jpg" class="set2" target="win"><img src="images/places/nyc.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/places/nyc.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/china.jpg" class="set2" target="win"><img src="images/places/china.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/places/china.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/main_ghat.jpg" class="set2" target="win"><img src="images/places/main_ghat.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/places/l/tokyo.jpg" class="set2" target="win"><img src="images/places/tokyo.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/places/l/bridge.jpg" class="set2" target="win"><img src="images/places/bridge.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/places/bridge.jpg" alt="" class="left-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/tokyo2.jpg" class="set2" target="win"><img src="images/places/tokyo2.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/places/tokyo2.jpg" alt="" class="right-img" /></div>
                </li>
                <li>
                    <a href="images/places/l/tokyo3.jpg" class="set2" target="win"><img src="images/places/tokyo3.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/places/l/road.jpg" class="set2" target="win"><img src="images/places/road.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c4"></div>
                </li>
            </ul>
            <ul title="3D Abstract Art">
                <li>
                    <a href="images/3d/l/triworks_abstract17.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract17.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract17.jpg" class="left-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract25.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract25.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract25.jpg" class="right-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract4.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract4.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract8.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract8.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract15.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract15.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract15.jpg" class="left-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract12.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract12.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract12.jpg" class="right-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract27.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract27.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract21.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract21.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract20.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract20.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract20.jpg" class="left-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract22.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract22.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract22.jpg" class="right-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract19.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract19.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract29.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract29.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c4"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract34.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract34.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c1"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract34.jpg" class="left-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract32.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract32.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c2"><h2>Lorem Ipsum</h2><img src="images/3d/triworks_abstract32.jpg" class="right-img" alt="" /></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract3.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract3.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="content c3"></div>
                </li>
                <li>
                    <a href="images/3d/l/triworks_abstract26.jpg" class="set3" target="win"><img src="images/3d/triworks_abstract26.jpg" alt="" /></a>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="content c4"></div>
                </li>*@
            </ul>
        </div>
    </div>
</div>