@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="css/preview.css" />
<link rel="stylesheet" type="text/css" href="css/grid-slider.css" />
<link rel="stylesheet" type="text/css" href="lightbox/wt-lightbox.css" />
<!--[if lt IE 9]>
<style>
    .panel {
        border-left:1px solid #444;
        border-right:1px solid #444;
    }
</style>
<![endif]-->
<script type="text/javascript" src="Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.grid-slider.min.js"></script>
<script type="text/javascript" src="lightbox/js/jquery.wt-lightbox.min.js"></script>
<script type="text/javascript" src="Scripts/preview.js"></script>

<div class="jumbotron">
    <h1>my music</h1>
</div>

<div class="panel">
    <div class="container">
        <div class="g-slider">
            <div class="tiles">
                <ul title="Animals">
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                </ul>
                <ul title="Places">
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                </ul>
                <ul title="3D Abstract Art">
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/A_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                    <li>
                        <a href="img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" class="set1" target="win"><img src="~/img/Letter_Tiles/Letter_Tiles_Small/B_Tile_145x145.png" /></a>
                        <div>Lorem ipsum dolor sit amet.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="info-section">
        <div class="form-panel">
            <form name="ctrlForm">
                <div class="form-sec">
                    <b>Grid size:</b><br />
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="50" align="right"><label for="grid-col">columns:&nbsp;</label></td>
                            <td width="60">
                                <select name="grid-col" id="grid-col" style="width:50px">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </td>
                            <td width="50" align="right"><label for="grid-row">rows:&nbsp;</label></td>
                            <td width="50">
                                <select name="grid-row" id="grid-row" style="width:50px">
                                    <option value="1">1</option>
                                    <option value="2" selected="selected">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-sec">
                    <b>Multiple categories:</b>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="70"><input type="radio" name="category" value="yes" id="multi-cat" checked="checked" />&nbsp;<label for="multi-cat">yes</label></td>
                            <td><input type="radio" name="category" value="no" id="no-cat" />&nbsp;<label for="no-cat">no</label></td>
                        </tr>
                    </table>
                </div>
                <div class="form-sec">
                    <label for="link-type"><b>Link type:</b></label><br />
                    <select name="link-type" id="link-type">
                        <option value="panel" selected="selected">panel</option>
                        <option value="lightbox">lightbox</option>
                        <option value="link">link</option>
                    </select>
                </div>
                <div class="form-sec">
                    <label for="panel-dir"><b>Panel direction:</b></label><br />
                    <select name="panel-dir" id="panel-dir">
                        <option value="top">top</option>
                        <option value="bottom" selected="selected">bottom</option>
                        <option value="left">left</option>
                        <option value="right">right</option>
                    </select>
                </div>
                <div class="form-sec">
                    <label for="effects"><b>Transition:</b></label><br />
                    <select name="effects" id="effects">
                        <option value="none">none</option>
                        <option value="fade">fade</option>
                        <option value="h_slide" selected="selected">horizontal slide</option>
                        <option value="v_slide">vertical slide</option>
                    </select>
                </div>
                <div class="form-sec">
                    <b>Display:</b><br />
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100"><input type="checkbox" name="index-cb" id="index-cb" checked="checked" />&nbsp;<label for="index-cb">indexes</label></td>
                            <td><input type="checkbox" name="playbtn-cb" id="playbtn-cb" checked="checked" />&nbsp;<label for="playbtn-cb">play button</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="num-cb" id="num-cb" checked="checked" />&nbsp;<label for="num-cb" id="num-label"># indexes</label></td>
                            <td><input type="checkbox" name="dbuttons-cb" id="dbuttons-cb" checked="checked" />&nbsp;<label for="dbuttons-cb">arrow buttons</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="info-cb" id="info-cb" checked="checked" />&nbsp;<label for="info-cb"># info</label></td>
                            <td><input type="checkbox" name="timer-cb" id="timer-cb" checked="checked" />&nbsp;<label for="timer-cb">timer bar</label></td>
                        </tr>
                    </table>
                </div>
                <div class="form-sec">
                    <b>Mouseover:</b><br />
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100"><input type="checkbox" id="m-cap-cb" name="m-cap-cb" checked="checked" />&nbsp;<label for="m-cap-cb" id="mouse-cap-label">caption</label></td>
                            <td><input type="checkbox" id="m-dbtns-cb" name="m-dbtns-cb" checked="checked" />&nbsp;<label for="m-dbtns-cb" id="mouse-dbtns-label">arrow buttons</label></td>
                        </tr>
                    </table>
                </div>
                <div class="form-sec">
                    <label for="cap-align"><b>Caption align:</b></label>
                    <select name="cap-align" id="cap-align">
                        <option value="top">top</option>
                        <option value="bottom" selected="selected">bottom</option>
                        <option value="left">left</option>
                        <option value="right">right</option>
                    </select>
                </div>
                <div class="form-sec">
                    <label for="cap-pos"><b>Caption position:</b></label>
                    <select name="cap-pos" id="cap-pos">
                        <option value="inside" selected="selected">inside</option>
                        <option value="outside">outside</option>
                    </select>
                </div>
                <div class="form-sec">
                    <label for="cap-effects"><b>Caption effect:</b></label><br />
                    <select name="cap-effects" id="cap-effects">
                        <option value="none">none</option>
                        <option value="fade" selected="selected">fade</option>
                        <option value="slide">slide</option>
                    </select>
                </div>
                <div class="form-sec"><input type="button" value="Submit" id="submit-btn" />&nbsp;<input type="button" value="Reset" id="reset-btn" style="width:55px" /></div>
            </form>
        </div>
        <div class="description">
            This is a jQuery grid slider with support for multiple categories, expandable html content, and lightbox.
            The slider is fully configurable and resizable through the plugin's parameters and stylesheet.
            <p><b>Features include:</b></p>
            <ul>
                <li>Customizable number of columns and rows.</li>
                <li>Support for multiple categories, with menu for easy category selection.</li>
                <li>Expandable panel supports ajax, iframe, and inline content.</li>
                <li>Multiple transition effects available, including horizontal slide, vertical slide, and fade.</li>
                <li>Able to load unlimited number of thumbnail tiles, each with customizable caption and link.</li>
                <li>Thumbnail tiles can support images as well as flash objects.</li>
                <li>Show or hide components, including play button, directional buttons, and indexes.</li>
                <li>Can set slider to automatically play on startup with customizable delay.</li>
                <li>Detailed html description can be set for each tile and displayed in expandable panel when selected.</li>
                <li>Embed html tags and regular text for captions and detail descriptions.</li>
                <li>Captions can be set to align top, bottom, left, or right.  Also, captions can be set inside or outside of tile.</li>
                <li>Able to have captions appear on mouse over, with different transition effects.</li>
                <li>Able to shuffle thumbnail tiles in random order.</li>
                <li>Basic lightbox plugin included.</li>
                <li>Support for mouse wheel scrolling.</li>
                <li>Support for iOS and android devices.</li>
            </ul>
        </div>
    </div>
    <div class="copyright">copyright &copy; 2012 <a href="http://codecanyon.net/user/webtako" target="wt">webtako</a></div>
</div>